# export WORDCHARS='*?_-.//[]~=&;!#$%^(){}<>'
export XDG_CONFIG_HOME="$HOME/.config"
export VISUAL="vim"

export RIPGREP_CONFIG_PATH="$XDG_CONFIG_HOME/ripgrep/config"
export ZELLIJ_CONFIG_DIR="$HOME/.config/zellij"

# gh notify
# https://github.com/meiji163/gh-notify?tab=readme-ov-file#key-bindings-fzf
export GH_NOTIFY_RELOAD_KEY='ctrl-R'
export GH_NOTIFY_MARK_READ_KEY='ctrl-r'

# API Keys
export ANTHROPIC_API_KEY={{ (onepasswordDetailsFields "claude-api-key").credential.value}}
export OPENAI_API_KEY={{ (onepasswordDetailsFields "openai-api-key").credential.value}}
export FIGMA_API_KEY={{ (onepasswordDetailsFields "figma-api-key").credential.value}}
export GITHUB_PERSONAL_ACCESS_TOKEN={{ (onepasswordDetailsFields "GitHub Default Token").credential.value}}

# Claude Code
export CLAUDE_CONFIG_DIR="$HOME/.config/claude"
