[user]
	name = nabekou29
	email = nabekou0729@gmail.com
[core]
	ignorecase = false
	editor = nvim
	pager = delta
	autocrlf = false
	quotepath = false
	excludessfile = ~/.config/git/ignore
	symlinks = true
	fsmonitor = true
	untrackedcache = true
	fileMode = false
[color]
	ui = true
[interactive]
	diffFilter = delta --color-only
[fetch]
	prune = true
[init]
	defaultBranch = main
[push]
	default = current
[pull]
	rebase = true
[rebase]
	autostash = true
[url "ssh://git@github.com"]
	insteadOf = https://github.com

[delta]
	line-numbers = true
[scalar]
	repo = /Users/kohei_watanabe/ghq/github.com/unipos/client-web
[maintenance]
	repo = /Users/kohei_watanabe/ghq/github.com/unipos/client-web
