[user]
	name = nabekou29
	email = nabekou0729@gmail.com
[core]
	ignorecase = false
	editor = nvim
	pager = delta
	autocrlf = false
	quotepath = false
	excludesfile = ~/.gitignore_global
	symlinks = true
[color]
	ui = true
[interactive]
	diffFilter = delta --color-only
[fetch]
	prune = true
[init]
	defaultBranch = main
[push]
	default = current
[pull]
	rebase = true
[rebase]
	autostash = true
[url "ssh://git@github.com"]
	insteadOf = https://github.com

[delta]
	line-numbers = true
	side-by-side = true
